<section id="contact">
  <h2 class="heading"> <span>{{ "chit-chat" | translate }}</span></h2>

  <div class="contact-container">
    <div class="contact-options">


      <div class="contact-option">
        <div class="contact-option-icon">
          <img  src="../../../assets/icons/correo-electronico.svg" alt="">
        </div>
        <div class="contact-info">
         <!--  <h4>Email</h4> -->
          <h5> {{ emailTo }} </h5>
          <a href="mailto:landicandela01@gmail.com" target="_blank">
            {{ "send-message" | translate }}
          </a>
        </div>
      </div>

      <div class="contact-option">
        <div class="contact-option-icon">
          <img src="../../../assets/icons/whatsapp.svg" alt="">
        </div>
        <div class="contact-info">
       <!--    <h4>Whatsapp</h4> -->
          <h5>+549 02262660996</h5>
          <a href="https://api.whatsapp.com/send?phone=542262660996" target="_blank">
            {{ "send-message" | translate }}
          </a>
        </div>
      </div>

    </div>
  </div>
</section>
