<footer>
  <div class="social-icons">
    <a target="_blank" href="https://www.linkedin.com/in/candela-landi-5651002ab/"><i class='bx bxl-linkedin'></i></a>
    <a target="_blank" href="https://github.com/CandeLandi"><i class='bx bxl-github'></i></a>
  </div>

  <ul class="list">
    <li>
      <a href=""> Home </a>
    </li>
    <li>
      <a href=""> Education </a>
    </li>
    <li>
      <a href=""> Portfolio </a>
    </li>
    <li>
      <a href=""> Contact me </a>
    </li>
  </ul>

  <p class="footer-name">
    Candela Landi
  </p>
</footer>
