#work-experience {
  margin: 4rem 2rem;

  .work-experience-title {
    text-align: center;

    h2 {
      font-size: 2.5rem;
      margin: 2rem 0;
      color: white;
    }
  }
}

@media (max-width: 895px) {
  #work-experience {
    margin-left: 2rem;
    margin-right: 2rem;

    .work-experience-title {
      h2 {
        font-size: 2rem;
      }
    }
  }
}
