<section id="work-experience">
  <div class="work-experience-title">
    <h2>{{ "work-experience" | translate }}</h2>
  </div>

  <div class="work-experiences">
    <div class="work-experience-item">
      <div class="timeline-dot"></div>
      <span>{{ "aiko-duration" | translate }}</span>
      <div class="work-experience-content">
        <h3>{{ "aiko-work-experience" | translate }}</h3>
        <p>{{ "aiko-description" | translate }}</p>
      </div>
    </div>

    <div class="work-experience-item">
      <div class="timeline-dot"></div>
      <span>{{ "rakium-duration" | translate }}</span>
      <div class="work-experience-content">
        <h3>{{ "rakium-work-experience" | translate }}</h3>
        <p>{{ "rakium-description" | translate }}</p>
      </div>
    </div>
  </div>
</section>
