<section id="work-experience">
  <div class="work-experience-title">
    <h2>{{ "work-experience" | translate }}</h2>
  </div>

  <div class="container-max">
    <div class="timeline-container">
      <div class="timeline-item">
        <div class="timeline-dot"></div>
        <div class="timeline-date">{{ "rakium-duration" | translate }}</div>
        <div class="timeline-content">
          <h4>{{ "rakium-work-experience" | translate }}</h4>
          <p>{{ "rakium-description" | translate }}</p>
          <a [href]="'rakium-linkedin' | translate" target="_blank" class="company-link">
            <i class='bx bxl-linkedin'></i>
            Ver perfil de la empresa
          </a>
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-dot"></div>
        <div class="timeline-date">{{ "aiko-duration" | translate }}</div>
        <div class="timeline-content">
          <h4>{{ "aiko-work-experience" | translate }}</h4>
          <p>{{ "aiko-description" | translate }}</p>
          <a [href]="'aiko-linkedin' | translate" target="_blank" class="company-link">
            <i class='bx bxl-linkedin'></i>
            Ver perfil de la empresa
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
