<section id="work-experience">
  <div class="work-experience-title">
    <h2>{{ "work-experience" | translate }}</h2>
  </div>

  <div class="container-max">
    <div class="work-experiences">
      <div class="work-experience-item">
        <div class="timeline-dot"></div>
        <span class="work-experience-date">{{ "aiko-duration" | translate }}</span>
        <div class="work-experience-content">
          <h4 class="work-experience-position">{{ "aiko-work-experience" | translate }}</h4>
          <p>{{ "aiko-description" | translate }}</p>
        </div>
      </div>

      <div class="work-experience-item">
        <div class="timeline-dot"></div>
        <span class="work-experience-date">{{ "rakium-duration" | translate }}</span>
        <div class="work-experience-content">
          <h4 class="work-experience-position">{{ "rakium-work-experience" | translate }}</h4>
          <p>{{ "rakium-description" | translate }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
