
.language-switcher {
  display: flex;
  gap: 10px;
}

.flag-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: relative;

  .menu {
    display: flex;
    a {
      margin: 0 15px;
      text-decoration: none;
      color: inherit;

      &.active {
        font-weight: bold;
      }
    }
  }

  .hamburger-menu {
    display: none;
    cursor: pointer;
    font-size: 30px;
  }

  @media (max-width: 600px) {
    .hamburger-menu {
      display: block;
    }

    .menu {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background: var(--bg-color);
      flex-direction: column;
      padding: 1rem;
      z-index: 1000;
      border-top: 1px solid var(--main-color);

      &.active {
        display: flex;
        a {
          margin: 10px 0;
          padding: 10px;
          border-bottom: 1px solid rgba(0, 221, 207, 0.2);

          &:last-child {
            border-bottom: none;
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .language-switcher {
    display: flex;
    order: -1;
    padding: 10px;
  }

  .flag-container {
    gap: 0.3rem;
  }

  .flag-icon {
    width: 18px;
  }

  .navbar {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    align-items: baseline;
  }
}
