
.language-switcher {
  display: flex;
  gap: 10px;
}

.flag-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  .menu {
    display: flex;
    a {
      margin: 0 15px;
      text-decoration: none;
      color: inherit;

      &.active {
        font-weight: bold;
      }
    }
  }

  .hamburger-menu {
    display: none;
    cursor: pointer;
    font-size: 30px;

  }

  @media (max-width: 600px) {
    .hamburger-menu {
      display: block;

    }
    .menu {
      display: none;

      &.active {
        display: flex;
        flex-direction: column;
        width: 100%;
        a {
          margin: 15px 0;
        }
      }
    }
  }
}

.sidenav-container {
  display: none;
}

@media (max-width: 600px) {


  .language-switcher {
    display: flex;
    order: -1;
    padding: 10px;
  }

  .flag-container {
    gap: 0.3rem;
  }

  .flag-icon {
    width: 18px;
  }

  .sidenav-container {
    display: block;
  }



  .navbar {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    align-items: baseline;
  }
  .menu {
    display: none;
    align-items: end;

    &.active {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-right: 10px;
      a {
        margin: 15px 0;
      }
    }
  }


}
