<section id="portfolio">

  <div class="portfolio-title">
    <h5>Trabajos recientes</h5>
  </div>

  <div class="portfolio-container">
    @for ( item of items; track item){
    <article class="portfolio-item">
      <h3>{{ item.name }}</h3>
      <div class="portfolio-img">
        <img [src]="item.src" [alt]="item.name">
      </div>
      <div class="portfolio-bottom-card">
        @for (tecnology of item.tecnology; track tecnology){
        <div class="item-tittle-bottom">
          <div class="items-technologies">
              <img class="technology-icon" [src]="tecnology.src" alt="">
             <!--  <h5>{{ tecnology.name }}</h5> -->
          </div>

        </div>
        }
        <div class="portfolio-item-cta">
          <div class="buttons">
            <a href="github"> Github </a>
            <a href="https://login-cl.netlify.app/#/auth/login"> Abrir Demo </a>
          </div>
        </div>
      </div>
    </article>
    }

  </div>
</section>
