<section class="education" id="education">
  <h2 class="heading">Educación</h2>
  <div class="timeline-items">
    <div class="timeline-item">
      <div class="timeline-dot"></div>
      <div class="timeline-date">17/8/2024 - 17/10/2024</div>
      <div class="timeline-content">
        <h3>Angular avanzado: MEAN Stack</h3>
        <p>
          Curso avanzado donde aprendí a desarrollar aplicaciones modulares y escalables en Angular utilizando MEAN Stack (MongoDB, Express, Angular, Node.js). Implementé autenticación segura con JWT y Google Sign-In, construí APIs RESTful con Express, y trabajé con pruebas unitarias, integración continua y control de versiones con GitHub, preparando aplicaciones listas para producción.
        </p>
        <span>Duración: 50 horas.</span>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-dot"></div>
      <div class="timeline-date">Finalizado - 1/8/2024</div>
      <div class="timeline-content">
        <h3>REDUX en Angular con NGRX: Desde las bases hasta la práctica</h3>
        <p>
         Curso sobre la implementación del patrón Redux
          en aplicaciones Angular, utilizando NgRx para gestionar cambios de
          estado de manera eficiente. Aprendí a dominar la librería NgRx,
          incluyendo el uso de efectos para manejar tareas asincrónicas y
          acciones complejas. El curso también abarcó la integración con
          Firebase, utilizando AngularFire2, Firebase Hosting y Firestore, lo
          que me permitió desplegar aplicaciones en entornos de producción. Esta
          experiencia amplió mis conocimientos en Angular, capacitándome para
          desarrollar aplicaciones escalables y optimizadas.
        </p>
        <span>Duración: 12.5 horas.</span>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-dot"></div>
      <div class="timeline-date">2/3/2024 - 22/5/2024</div>
      <div class="timeline-content">
        <h3>Udemy - Angular: De cero a experto</h3>
        <p>
          Curso de Angular donde aprendí a desarrollar
          aplicaciones usando este framework de manera profunda, siguiendo
          estándares y buenas prácticas. El curso cubrió el uso de TypeScript y
          la integración de librerías de terceros (Bootstrap, Prime Ng, Prime Flex y Angular Material), además de temas avanzados
          como señales, componentes, directivas, servicios, y mapas. También se trabajo con
          backend en Nest Js, adquirí habilidades en la autenticación con JWT, despliegues de
          aplicaciones, y el manejo de bases de datos con MongoDB, Docker y postman para sus pruebas.
        </p>
        <span>Duración: 45 horas.</span>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-dot"></div>
      <div class="timeline-date">11/12/2023 - 21/2/2024</div>
      <div class="timeline-content">
        <h3>CoderHouse - Angular</h3>
        <p>
          Curso enfocado en los conceptos fundamentales de Angular, incluyendo
          el desarrollo de aplicaciones CRUD utilizando Angular Material y Redux
          para el manejo del estado de la aplicación.
        </p>
        <span>Duración: 36 horas en 9 semanas.</span>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-dot"></div>
      <div class="timeline-date">5/11/2023 - 20/1/2024</div>
      <div class="timeline-content">
        <h3>Udemy - Javascript: El Curso Completo, Práctico y desde Cero</h3>
        <p>
          Curso intensivo abordando conceptos avanzados de JavaScript,
          incluyendo el manejo del BOM y DOM para la creación de sitios web
          interactivos. Se desarrollaron 6 proyectos prácticos y se exploraron
          las API para la integración con servidores y servicios externos.
        </p>
        <span>Duración: 34.5 horas </span>
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-dot"></div>
      <div class="timeline-date">5/9/2023 - 2/11/2023</div>
      <div class="timeline-content">
        <h3>CoderHouse - JavaScript</h3>
        <p>
          Curso centrado en la programación con JavaScript, incluyendo el
          desarrollo de simuladores y aplicaciones prácticas. Se cubrieron temas
          como funciones, operadores, promesas, ciclos, asíncronía y
          manipulación de datos con Storage & JSON.
        </p>
        <span>Duración: 36 horas en 9 semanas.</span>
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-dot"></div>
      <div class="timeline-date">22/6/2023 - 24/8/2023</div>
      <div class="timeline-content">
        <h3>CoderHouse - Desarrollo web</h3>
        <p>
          Curso enfocado en los fundamentos del desarrollo web, abarcando HTML,
          CSS, NodeJs, Git, Github, Sass, SEO, servidores, animaciones y
          frameworks como Bootstrap. Duración: 38 horas distribuidas en 10
          semanas.
        </p>
        <span>Duración: 38 horas en 10 semanas.</span>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-dot"></div>
      <div class="timeline-date">Período 2012-2018</div>
      <div class="timeline-content">
        <h3>Escuela de Educación Técnica N°3</h3>
        <p>
          Graduado en la especialización de "Técnico en Comunicación
          Multimedial". Durante este tiempo, adquirí un amplio conjunto de
          habilidades en el manejo de diversas herramientas y software,
          incluyendo edición de video, diseño gráfico, animación, comunicación,
          guionización y desarrollo web.
        </p>
      </div>
    </div>

  </div>

</section>
