<section class="home" id="home">
  <div class="home-content">
    <h1>Hola, soy <span>Candela</span></h1>
    <h3 class="text-animation">  <span></span> </h3>

    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi nihil voluptatum soluta id neque in vitae,
      nostrum quam excepturi? Inventore voluptate aliquam eius libero odit ea incidunt recusandae ab vero!
    </p>


    <div class="social-icons">
      <a href="https://www.linkedin.com/in/candela-landi-5651002ab/"><i class='bx bxl-linkedin'></i></a>
      <a href="https://github.com/CandeLandi"><i class='bx bxl-github'></i></a>
    </div>

    <div class="btn-group">
 <!--      <a href="#" class="btn">Contratar</a> -->
      <a href="#contact" class="btn">
        Contact
      </a>
    </div>

  </div>

  <div class="home-img">
    <img src="../../../assets/perfil.jpg" alt="">
  </div>

<!--   <a href="#" class="btn"> Hire </a>
 -->
</section>
